body {
    background-color: #eee;
    font-family: "comic sans ms";
    padding:0;
}
html {
    scroll-behavior: smooth;
}
#header {
    text-align: center;
    background-color: #333;
    padding: 5px 15px;
    margin:0;
    border-bottom-right-radius:10px;
    border-bottom-left-radius: 10px;
    height:120px;
    display:flex;
}
#header-img {
    height: 6em;
    border-radius: 20px;
    display: inline;
    float: left;
    margin: 10px 0 10px 6px; 
}
.timex-logo {
    width: 33%;
}
#nav-bar {
    width: 67%;
    padding-left: 0;
    margin:  0;
}
.nav-link {
    margin-left: 0;
    display:flex;
    justify-content:flex-end;
}
li {
    list-style: none;
    display: inline;
}

li a {
    color: white;
    padding:  5px 10px;
    border-radius: 20px;
    text-decoration: none;
}
.litlemain {
    Width :100%;
    Padding:auto;
    Text-align :center;
 } 
img {
    max-width: 100%;
    height: auto;
}
#email {
    Border:solid #333;
    text-align: center;
    margin:20 0 30 0 ;
    padding: 2.5 20;
    border-radius: 10px;
    width: 60%;
    height: 35px
}
#submit {
    display: block;
    margin: auto;
    padding: 5 20;
    border-radius: 10px;
    background-color: #333;
    color: white;
    cursor: pointer;
    height: 45px;
}

.iframe-container{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
}
.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 90%;
}

#submit:hover {
    color: #333;
    background-color: white;
    border: solid #333 3px
}
#ourbrand {
    text-align: center;
    width: 90%;
    margin: 30 auto 0 auto;
    background-color: #333;
    color: white;
    border-radius: 15px;
    padding: 5px;
}
#features {
    text-align: center;
    width: 90%;
    margin: 40 auto 0 auto;
    background-color: #333;
    color: white;
    border-radius: 5px;
    padding: 5px;
}
#products {
    text-align: center;
    width: 90%;
    margin: 40 auto 0 auto;
}
.flex-container {
    display: flex;
    flex-direction: column;
}
.watch {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    width: 63%;
    height: auto;
    margin: 20 auto;
    border-radius: 15px;
    color: white;
    background-color: #333;
    text-align: left;
    padding: 5px; 
}
.watch p {
    margin: 5px;
}
.watch img {
    border-radius:5px;
}
.register {
    color: #333;
}
h4 {
    color: #333;
    background-color: white;
    margin: 0 0 5 0;
    padding: 5 15;
    border-radius: 5px;
}
h4:hover {
    color:white;
    background-color: #333;
    border: solid white 1px;
    cursor:pointer;
}
@media only screen and (min-width: 750px) {
    body {
        background-color: ;
    }
    .flex-container {
        display: flex;
        flex-direction: row;
    }
    .watch {
        width: 60%;
        margin: 0 2.5% 40 2.5%;
    }
    #header-img {
        margin-left: 30%
    }
}

footer {
    position: absolute;
    width: 100%;
    left: 0;
    background-color: #333;
    color: white;
    text-align: right;
    cursor: pointer;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 5 0;
}
footer p {
    margin:0 10 0 0;
    padding: 0;
    font-size: 80%;
}